<form [formGroup]="myForm">
  <div formGroupName="endereco">
    <label>
      <p>CEP</p>
      <input type="text" formControlName="cep" (blur)="enviar()"/>
    </label>
    <label>
      <p>RUA</p>
      <input type="text" formControlName="logradouro" appValidaCep>
    </label>
    <label>
      <p>BAIRRO</p>
      <input type="text" formControlName="bairro"/>
    </label>
    <label>
      <p>CIDADE</p>
      <input type="text" formControlName="localidade">
    </label>
    <label>
      <p>ESTADO</p>
      <input type="text" formControlName="uf"/>
    </label>
  </div>
  <br>
  <br>
  <button>Enviar</button>
</form>
